*{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 2em;
}


.logo{
    color: #395379;
    font-size: 100px;
    font-style: italic;
    line-height: 9px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo-div{
    border-bottom: 2px dotted rgb(169, 169, 169);
}


.nav-div h2{
    margin: 0;
}

.nav-div a{
    color: blue;
}

.content-div{
    margin: 100px 0;
}

.content-div strong{
    padding-right: 20px;
    color: black;
}

.content-div .link a{
    color: blue;
}

.content-div .link a:hover{
    color: darkblue;
}

.content-div .link{
    display: flex;
    flex-direction: column;
}
